<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>About Page</title>
  </head>
  <body>
    <div id="content">
      <div class="flex items-center justify-center md:pt-10 flex-col">
        <!-- our card for contact us -->
        <div
          class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800"
        >
          <figure
            class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700"
          >
            <blockquote
              class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
            >
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                Very easy this was to Use
              </h3>
              <p class="my-4">
                Smart Contact Manager is an intuitive web application designed
                for effortless contact management on the cloud. Built with
                Spring Boot technology, it offers a seamless user experience
                with its easy-to-navigate interface. Users can quickly store,
                retrieve, and organize their contacts without any technical
                hassle. The application integrates Spring Security, ensuring
                that all routes are protected and user data is secure with ID
                and password authentication. Whether for personal use or
                business needs, Smart Contact Manager makes managing contacts
                simple, efficient, and secure, catering to users of all
                technical skill levels.
              </p>
            </blockquote>
            <figcaption class="flex items-center justify-center">
              <img
                class="rounded-full w-9 h-9"
                src="https://lh3.googleusercontent.com/a/ACg8ocJYPtm8oXz-HmeB5H_gfOFI8oJMcR7sVOKHYitWKhbItZDh_41mIg=s96-c"
                alt="profile picture"
              />
              <div
                class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3"
              >
                <div>Lucky Manikpuri</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">
                  Developer of SCM
                </div>
              </div>
            </figcaption>
          </figure>
          <figure
            class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700"
          >
            <blockquote
              class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
            >
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                About Security
              </h3>
              <p class="my-4">
                Smart Contact Manager is a state-of-the-art web application that
                prioritizes security while managing contacts on the cloud. Built
                with Spring Boot technology, the application integrates Spring
                Security to provide robust protection across all routes. Every
                user interaction is safeguarded by comprehensive security
                measures, including mandatory ID and password authentication,
                ensuring that only authorized users can access sensitive
                information. Additionally, Smart Contact Manager employs
                encrypted data transmission and storage, protecting user data
                from potential breaches and unauthorized access. This meticulous
                attention to security criteria makes Smart Contact Manager a
                trustworthy solution for individuals and businesses seeking a
                secure and efficient contact management system.
              </p>
            </blockquote>
            <figcaption class="flex items-center justify-center">
              <img
                class="rounded-full w-9 h-9"
                src="https://lh3.googleusercontent.com/a/ACg8ocJYPtm8oXz-HmeB5H_gfOFI8oJMcR7sVOKHYitWKhbItZDh_41mIg=s96-c"
                alt="profile picture"
              />
              <div
                class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3"
              >
                <div>Lucky Manikpuri</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">
                    Developer of SCM
                </div>
              </div>
            </figcaption>
          </figure>
          <figure
            class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-es-lg md:border-b-0 md:border-e dark:bg-gray-800 dark:border-gray-700"
          >
            <blockquote
              class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
            >
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                Managing Contacts
              </h3>
              <p class="my-4">
                Smart Contact Manager excels in providing an efficient and
                user-friendly solution for managing contacts on the cloud. With
                its intuitive interface, users can easily add, edit, and delete
                contact information, ensuring that their address book is always
                up-to-date. The application allows for categorizing contacts
                into different groups, making it simple to organize and locate
                specific contacts quickly. Advanced search and filter options
                enable users to find contacts based on various criteria
                effortlessly. Additionally, Smart Contact Manager supports the
                import and export of contact lists, allowing seamless
                integration with other applications and devices. This
                comprehensive contact management system is designed to cater to
                both personal and professional needs, offering a secure and
                streamlined experience for all users
              </p>
            </blockquote>
            <figcaption class="flex items-center justify-center">
              <img
                class="rounded-full w-9 h-9"
                src="https://lh3.googleusercontent.com/a/ACg8ocJYPtm8oXz-HmeB5H_gfOFI8oJMcR7sVOKHYitWKhbItZDh_41mIg=s96-c"
                alt="profile picture"
              />
              <div
                class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3"
              >
                <div>Lucky Manikpuri</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">
                    Developer of SCM
                </div>
              </div>
            </figcaption>
          </figure>
          <figure
            class="flex flex-col items-center justify-center p-8 text-center bg-white border-gray-200 rounded-b-lg md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700"
          >
            <blockquote
              class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
            >
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                Email verification
              </h3>
              <p class="my-4">
                Smart Contact Manager enhances security and user trust through
                its robust email verification system. When a new user registers,
                an email containing a unique verification link is sent to the
                provided address. This step ensures that only valid email
                addresses are associated with user accounts, preventing
                unauthorized access and reducing the risk of spam. The user must
                click the verification link to activate their account,
                confirming their identity and enabling full access to the
                application's features. This email verification process adds an
                essential layer of security, ensuring that all users are
                authenticated and genuine, thereby maintaining the integrity of
                the Smart Contact Manager system.
              </p>
            </blockquote>
            <figcaption class="flex items-center justify-center">
              <img
                class="rounded-full w-9 h-9"
                src="https://lh3.googleusercontent.com/a/ACg8ocJYPtm8oXz-HmeB5H_gfOFI8oJMcR7sVOKHYitWKhbItZDh_41mIg=s96-c"
                alt="profile picture"
              />
              <div
                class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3"
              >
                <div>Lucky Manikpuri</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">
                    Developer of SCM
                </div>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

    <script>
      console.log("about page");
    </script>
    <script>
      console.log("second about page script");
    </script>
  </body>
</html>
