<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Home page</title>
  </head>
  <body>
    <div id="content" class="text-center mt-5 md:w-1/2 mx-auto flex flex-col justify-center ">
      <div data-th-replace="message::messagebox"></div>

      


      <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 mb-3">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" data-th-src="@{${'/images/telephone-call.png'}}" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Verify your email id then you will able to login!</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quos, quo ratione rerum vero velit sequi vitae! Nulla sequi unde inventore, voluptatibus esse molestias quia dicta qui, laudantium tenetur aliquid?</p>
        </div>
    </a>
    


      <a href="/login" class="bg-green-900 mt-2 text-white px-3 py-2 rounded">
        Login
      </a>
    </div>
    <script>
      console.log("Home page");
    </script>
  </body>
</html>
